<div class="dashboard-container">
<h2 class="mat-h2">Admin Dashboard</h2>
<p>Select the action you want to perform to manage the system.</p>


  <div class="card-grid">
    <div *ngFor="let card of dashboardCards" 
         class="dashboard-card" 
     [routerLink]="['/' + card.route]">
         
      <mat-icon class="card-icon">{{ card.icon }}</mat-icon>
      
      <div class="card-content">
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
      </div>
<button mat-flat-button color="primary">Go</button>






    </div>
  </div>
</div>